.Series{
  margin: 2rem 0;
  user-select: none;

  &-title {
    display: block;
    margin: .5rem 0;
    color: rgba(255,255,255,.6);
    font-style: italic;
  }

  &-swiper {
    padding: .5rem;
    background: $filter-nightblue;
    border-radius: 4px;
  }

  .slide {
    cursor: pointer;
  }

  .img-container {
    position: relative;
    height: 120px;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  h5 {
    margin: 5px 0 0;
    font-size: calc($fs-small - 2px);
  }
}
