.Header {
  padding: 2rem 0;

  &-wrapper {
    justify-content: space-between;
  }

  &-menu {
    font-size: $fs-regular;

    a {
      margin-right: 20px;
      @extend %link;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &-burger {
    position: relative;
    display: none;

    &:has(.burger-menu.active) {
      pointer-events: none;

      .burger-menu-content {
        pointer-events: all;
      }
    }

    .burger-menu {
      position: relative;
      gap: 5px;

      &.active ~ .burger-menu-content {
        top: 30px;
        transition: 0.3s;
      }

      &.active > div {
        & {
          position: absolute;
          top: -10px;
          right: -.5px;
          transform: rotate(45deg);

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:nth-of-type(3) {
            transform: rotate(-45deg);
            top: -10px;
            right: 0;
          }
        }
      }

      div {
        width: 50px;
        height: 4px;
        border-radius: 4px;
        background-color: $clr-white;
        pointer-events: none;
        transition: .2s;
      }
    }

    .burger-menu-content {
      position: absolute;
      top: -200px;
      right: -1rem;
      z-index: 10000000;
      width: 100vw;
      padding: 1rem;
      background-color: $clr-dark;
      transition: 0.3s;

      a {
        display: block;
        margin-top: 1rem;
        font-family: $ff-bold;
        text-transform: capitalize;
      }
    }
  }
}

@media (max-width: 480px) {
  .Header {

    &-menu {
      display: none;
    }

    &-burger {
      display: block;
    }
  }
}