.Game {
  margin: 2rem 0;

  &-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 500px;
    column-gap: .5rem;

    h2 {
      position: absolute;
      top: -25px;
      z-index: 10000;
      font-size: $fs-regular;
      text-transform: capitalize;
    }
  }

  &-slider {
    user-select: none;

    .swiper {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-details {
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    
    .details-img {
      width: 100%;
      height: 200px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .details-text {
      position: relative;
      align-items: flex-start;
      gap: .5rem;

      .detail-tag {
        text-transform: capitalize;
      }

      .description {
        max-height: 145px;
        overflow: scroll;
        overflow-x: hidden;
        
        p {
          font-size: calc($fs-small - 2px);
          text-align: left;
          letter-spacing: 1px;
          line-height: 1.3;
        }

        &::-webkit-scrollbar {
          background-color: transparent;
          width: 4px;
          user-select: all;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $clr-dark;
          border-radius: 0.5rem;
        }
      }
    }

  }

  &-additions {
    position: relative;
    display: inline-block;
    width: 400px;
    max-width: 100%;
    margin: 1rem 0 2rem 0;
    padding: .5rem;
    background-color: $clr-dark;
    cursor: pointer;

    h3 {
      // margin: .5rem 0;
      font-family: $ff-bold;
    }

    svg {
      position: absolute;
      top: 0.7rem;
      right: 1rem;
    }

    &-wrapper {
      display: none;
    
      &.active {
        display: block;
      }
    }
  
    a {
      display: block;
      margin-top: 4px;
      padding: .2rem .3rem;
      background-color: $clr-dark;
      font-size: calc($fs-small - 2px);
      font-family: $ff-bold;
      letter-spacing: .5px;

      &:nth-child(odd) {
        background-color: $clr-lightDark;
      }

      &:hover {
        background-color: $clr-aquablue;
      }
    }
  }
}